@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400;500;600;700&display=swap');
.headleft{
    height: 500px;
}
.headright{
    height: 500px;
}
.imghead{
    margin-top:15%;
    width: 100%;
    height:auto;
}
.textad{
    font-family: 'Kanit', sans-serif;
    margin-top:20%;
    font-size: 65px; 
    font-weight: 600;
    color:black;
}
.text2{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 400;
}
.websitename{
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    font-weight: bold;
    -webkit-text-stroke: 3px black;
    color: #FE7F2D;
}
.shorttab{
    background-color:#2F4F4F;
}
.linkinput{
    margin-top:20px;
    margin-bottom: 20px;
    height:50px;
    width:100%;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    padding:0px 10px;
}
.rmvpad{
    padding-left:0px !important;
    padding-right:0px !important;
}
.shortbtn{
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
    height:50px;
    background-color:#FE7F2D;
    color:white;
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
    border-radius: 2px;
    border:none;
}
.yourlink{
    margin-top:20px;
    margin-bottom:20px;
    line-height: 50px;
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
    color:white;
    text-align: center;
}
.qrtab{
    text-align: center;
}
.qrbox{
    margin:20px auto;
    background-color:white;
    width:200px;
    height: 200px;
    text-align: center;
}
.qrcode{
    width:200px !important;
    height:auto !important;
}
.memberad{
    text-align: center;
    margin-top:20px;
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    color:black;
}
.boldtext{
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}
.membertable{
    margin-top:40px;
    width: 100%;
    font-size:20px;
}
table, td{
    border:2px solid #d9cfc8;
    font-family: 'Kanit', sans-serif;
}
td{
    height:80px;
}
.benefit{
    width: 60%;
    text-align: left;
    padding-left: 15px;
}
.type{
    width:20%;
}
.member{
    background-color: #FE7F2D;
    color:white;
}
.membtn{
    margin-top:20px;
    margin-bottom:20px;
    width:200px;
    height:50px;
    background-color:#FE7F2D;
    color:white;
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
    border-radius: 5px;
    border:none;
}
.greenbg{
    background-color:#2F4F4F;
    min-height: 728px;
    margin-bottom: -30px;
}
.memtitle{
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top:35px;
    margin-bottom: 20px;
    color:white;
}
.memshorttab{
    font-family: 'Kanit', sans-serif;
    margin-top:40px;
    font-size:20px;
    color:white;
    line-height: 50px;
}
.memlinkinput{
    margin-bottom: 30px;
    height:50px;
    width:100%;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    padding:0px 10px;
}
.shortbtndiv{
    text-align: center;
}
.shortbtnmem{
    margin-top:120px;
    margin-bottom:80px;
    width:50%;
    height:50px;
    background-color:#FE7F2D;
    color:white;
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
    border-radius: 2px;
    border:none;
}
.genlinktab{
    text-align: center;
    margin-top: 40px;
}
.genlinkmem{
    height:50px;
    width:80%;
    border-radius: 5px;
    font-family: 'Kanit', sans-serif;
    padding:0px 10px;
}
.copybtn{
    width:20%;
    height:50px;
    background-color:#FE7F2D;
    color:white;
    font-family: 'Kanit',sans-serif;
    font-size: 20px;
    border-radius: 10px;
    border:none;
}
@media (max-width: 1200px) {
    .imghead{
        margin-top: 35%;
    }
    .textad{
        margin-top:15%
    }
    .memshorttab{
        font-size: 18px;
    }
}
@media (max-width: 800px) {
    .textad{
        font-size: 50px;
    }
    .text2{
        font-size: 25px;
    }
}