@import 'bootstrap/dist/css/bootstrap.min.css';
.copy_btn{
  padding: 5px;
  margin: 5px;
}

.box1 {
  width: 320px;
  padding: 10px;
  border: 1px solid gray;
  margin: 0;
  font-family: "Courier New";
  text-align: center;
}
.box2 {
  width: 300px;
  padding: 10px;
  border: 1px solid gray;
  margin: 0;
  font-family: "Courier New";
  text-align: center;
}

.box_qr{
  display: flex;
  width: 200px;
  height: 200px;
  padding: 10px;
  border: 1px solid gray;
  margin: 10px;
}

.qr_img{
  width: 200px;
  margin: auto;
}
