@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

:root {
  --nav-bg-color: #2F4F4F;
  --nav-bnt-color: #FFD942;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.nav-img{
  height: 40px;
  font-family: sans-serif;
  margin-left: 10;
}

.nav-background {
  background-color:  var(--nav-bg-color);
  height: 64px;
}

.nav-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;

}

.nav-sign-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 500px;
  height: 40;
}

.nav-input-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.nav-input {
  width: 100px;
  height: 20px;
}

.nav-label {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 8px;
  font-size: 14px;
  color: white;
}

.nav-label-user {
  margin-top: 15px;
  font-size: 20px;
  color: white;
}

.nav-form {
  display: flex;
  flex-direction: column;
}

.sign-up-btn {
  width: 80px;
  height: 36px;
  margin-top: 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: var(--nav-bnt-color);
  border-radius: 5px;
}

.login-label {
  margin-top: 22px;
  font-size: 18px;
  font-family: sans-serif;
  color:  var(--nav-bnt-color);
  cursor: pointer;
  margin-left: -10px;
}
